$brand-primary: #86461E;

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: $brand-primary;
}

h1 {
  color: $brand-primary;
  font-size: 2em;
}

.bg-header {
  background: url('../images/logo.png') no-repeat;
  width: 311px;
  height: 81px;
}
